
*.suo
*.user
*.sln.docstates

#build files
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
.vs/

*.pdb
*.obj
*settings.json*
# Rolsyn cache
*.ide/



*appsettings*
*launchsettings*
/SimDrone/DroneRecord.json
