/Domain/bin/
/Domain/obj/
/RepositoryImplementation/appsettings.Development.json
/RepositoryImplementation/appsettings.json
/FrontEnd/wwwroot/appsettings.json
/RepositoryImplementation/bin/
/RepositoryImplementation/obj/
/SimDrone/appsettings.Development.json
/Dispatch/bin/
/SimDrone/WeatherForecast.cs
/Dispatch/obj/
/SimDrone/appsettings.json
/SimDrone/bin/
/SimDrone/obj/
/FrontEnd/bin/
/FrontEnd/obj/
/FrontEnd/wwwroot/
/Dispatch/appsettings.json
/Dispatch/appsettings.Development.json
/DatabaseAccess/bin/
/DatabaseAccess/obj/
/DatabaseAccess/appsettings.Development.json
/DatabaseAccess/appsettings.json
/.idea/
