@page "/detaildrone"
@inject Services.GlobalDataSvc globalData
@inject Radzen.DialogService dialogService

<h3>DetailedDrone</h3>

@if (globalData.currDrone != null)
{
<b>@globalData.currDrone.ToString()</b>

}

<div class="row">
    <div class="col-md-12 text-right">
        <RadzenButton Click="@((args) => dialogService.Close(true))" Text="Close" Style="width: 120px" />
    </div>
</div> 
