@page "/fleetView"
@inject Services.RestDbSvc restPoint

@*<img src="../images/drone.jpg" />*@
<div class="status-bar">
    <b>Fleet Size: @size</b>
</div>

<div class="main">
    <ul class="drone-fleet">
        @if (Fleet != null)
        {
            @foreach (var drone in Fleet)
            {
                <li style="background-image: url('../images/drone.jpg')">
                    <div class="drone-status">
                        <span class="price">@drone.Status</span>
                    </div>
                </li>
            }
        }
    </ul>
</div>

@*<h3>FleetView</h3>


    <b>String: @Greeting</b> *@
