@page "/order"
@using FlyingPizza.Services
@inject Services.RestDbSvc restpoint
@inject NavigationManager _navigationManager
@inject FrontEndToDispatcherGateway _dispatcherGateway

<div class="status-bar">
    <b>Create New Order</b>
</div>

<div class="right">
    <b>Customer Name: </b>
    <RadzenTextBox Style="width: 200px" Placeholder="..." AutoComplete="false" @oninput=@(e => custOrder.Customer = e.Value.ToString()) />
    <br />
    <b>Address: </b>
    <RadzenTextBox Style="width: 200px" Placeholder="..." AutoComplete="false" @oninput=@(e => custOrder.DeliveryAddress = e.Value.ToString()) />
    <br />
    <RadzenButton Click=@(args => makeOrder()) Style="width: 200px" Text="Create Order" Icon="add_circle_outline" ButtonStyle="ButtonStyle.Primary" />
</div>
