@page "/order"
@inject Services.RestDbSvc restpoint
@inject NavigationManager _navigationManager
<h3>OrderPage</h3>

<!--Customer should already have a cart which will be a global item collection in global data-->
<!--Get customer name-->
<b>Customer Name:</b>
<RadzenTextBox Placeholder="..." AutoComplete="false" @oninput=@(e => custOrder.Customer = e.Value.ToString()) />
<!--Get customer delivery address-->
<b>Address:</b>
<RadzenTextBox Placeholder="..." AutoComplete="false" @oninput=@(e => custOrder.DeliveryAddress = e.Value.ToString()) />

<div class="col-6">
    <RadzenButton Click=@(args => makeOrder()) Text="Create Case" Icon="add_circle_outline" ButtonStyle="ButtonStyle.Primary" />
</div>
