
.status-bar {
    height: 85.2px;
    border-radius: 0.5rem;
    flex-grow: 1;
    overflow-y: auto;
    background-color: #3f7cac;
    padding: 1.5rem !important;
    color: white;
    text-shadow: 0 2px 2px rgba(0,0,0,0.5);
    font-size: 24px;
    font-weight: 700;
}

.choices {


}

.noBorder {
    float: left;
    margin: 0px;
    padding: 0px;
    padding-right: 24px;
}

.checkBox {
    float: left;
    margin-top: 6.6px;
    margin-right: 6px;
    width: 24px;
    height: 24px;
}


.testText {
    color: green;
    text-shadow: 0 2px 2px rgba(0,0,0,0.5);
    font-size: 1.5rem;
    font-weight: 700;
}
    



