@page "/tracking"
@using FrontEnd.Services
@using Domain.Entities
@*https://www.radzen.com/documentation/blazor/googlemap/*@
@*https://blazor.radzen.com/googlemap*@

<div class="status-bar">
    <div class="noBorder">
        <input class="checkBox" type="checkbox"  id="home_btn" onclick="@onBoxClick">
        <b>Home</b>
    </div>
    <div class="noBorder">
        <input class="checkBox" type="checkbox" id="drone_btn" onclick="@onBoxClick">
        <b>SimDrones</b>
    </div>
     <div class="noBorder">
        <RadzenCheckBox style="height: 24px; width: 24px; margin-bottom:4px"@bind-Value=@showMSU Name="showMarker" id="dest_btn"/>
        <b>Destination</b>
    </div>
</div>

<div class="row p-3">
    <div class="col">
        <RadzenGoogleMap style="height: 550px" Zoom=@zoom Center=@(new GoogleMapPosition { Lat = 39.745918, Lng = -105.007492}) MapClick=@OnMapClick MarkerClick=@OnMarkerClick>
            <Markers>
                @if (DroneRecords != null)
                {
                    var i = 1;
                    @foreach (var drone in DroneRecords)
                    {
                        <RadzenGoogleMapMarker id=@(drone.BadgeNumber) 
                           Title=@("Drone #" + i)
                           Label=@("Drone #" + i++)
                           Position=@(new GoogleMapPosition {
                            Lat = (double) drone.CurrentLocation.Latitude, 
                            Lng = (double) drone.CurrentLocation.Longitude })/>
                    }
                }
                @if (showMSU)
                {
                    <RadzenGoogleMapMarker id="home_icon" Title="MSU Denver " Label="Home" Position=@(new GoogleMapPosition() { Lat = 39.745918, Lng = -105.007492 })/>
                }
            </Markers>
        </RadzenGoogleMap>
    </div>
</div>

<EventConsole @ref=@console Class="mt-4" />

@code {
    int test = 0;
    int zoom = 15;
    bool showMSU;
    EventConsole console;

    void OnMapClick(GoogleMapClickEventArgs args)
    {
        console.Log($"Map clicked at Lat: {args.Position.Lat}, Lng: {args.Position.Lng}");
    }

    void OnMarkerClick(RadzenGoogleMapMarker marker)
    {
        console.Log($"Map {marker.Title} marker clicked. Marker position -> Lat: {marker.Position.Lat}, Lng: {marker.Position.Lng}");
    }

    void onBoxClick()
    {     
        showMSU = !showMSU;
    }

}
