@page "/tracking"
@using FrontEnd.Services
@using Domain.Entities
@*https://www.radzen.com/documentation/blazor/googlemap/*@
@*https://blazor.radzen.com/googlemap*@

<div class="status-bar">
    <div class="noBorder">
        <input class="checkBox" type="checkbox"  id="home_btn" onclick="@onBoxClick">
        <b>Home</b>
    </div>
    <div class="noBorder">
        <input class="checkBox" type="checkbox" id="drone_btn" onclick="@onBoxClick">
        <b>SimDrones</b>
    </div>
     <div class="noBorder">
        <RadzenCheckBox style="height: 24px; width: 24px; margin-bottom:4px"@bind-Value=@showMSU Name="showMarker" id="dest_btn"/>
        <b>Destination</b>
    </div>
</div>

<div class="row p-3">
    <div id="map" style="height:500px;width:100%;"></div>
</div>

<EventConsole @ref=@console Class="mt-4" />

@code {
    int test = 0;
    int zoom = 15;
    bool showMSU;
    EventConsole console;

    void OnMapClick(GoogleMapClickEventArgs args)
    {
        console.Log($"Map clicked at Lat: {args.Position.Lat}, Lng: {args.Position.Lng}, Zoom:{zoom}");
    }

    void OnMarkerClick(RadzenGoogleMapMarker marker)
    {
        console.Log($"Map {marker.Title} marker clicked. Marker position -> Lat: {marker.Position.Lat}, Lng: {marker.Position.Lng}");
    }

    void onBoxClick()
    {     
        showMSU = !showMSU;
    }
}

